<div class="shop-page py-14 px-6">
    <!-- Sort Section -->
    <div class="text-right mb-6">
        <form id="sortForm" method="GET" action="/shop">
            <label>
                <select name="sort" onchange="updateQueryParams(this)"
                    class="filter-dropdown border focus:outline-none focus:ring-2 py-2">
                    <option value="" <%=!filters?.sort ? 'selected' : '' %>>Sort By</option>
                    <option value="price-asc" <%=filters?.sort==='price-asc' ? 'selected' : '' %>>Price: Low to High
                    </option>
                    <option value="price-desc" <%=filters?.sort==='price-desc' ? 'selected' : '' %>>Price: High to Low
                    </option>
                    <option value="name-asc" <%=filters?.sort==='name-asc' ? 'selected' : '' %>>Name: A to Z</option>
                    <option value="name-desc" <%=filters?.sort==='name-desc' ? 'selected' : '' %>>Name: Z to A</option>
                    <option value="createdAt-asc" <%=filters?.sort==='createdAt-asc' ? 'selected' : '' %>>New: Old to
                        New</option>
                    <option value="createdAt-desc" <%=filters?.sort==='createdAt-desc' ? 'selected' : '' %>>New: New to
                        Old</option>
                </select>
            </label>
        </form>
    </div>

    <div class="flex">
        <!-- Filter Section -->
        <div class="w-1/4 p-4">
            <h2 class="text-2xl font-semibold mb-4">Filter Products</h2>
            <form id="filterForm" method="GET" action="/shop">
                <!-- Price Filter -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-4">Price</h3>
                    <div class="flex items-center gap-4">
                        <div class="flex flex-col w-full">
                            <label for="minPrice" class="text-sm font-medium">Min Price</label>
                            <input type="number" id="minPrice" name="minPrice" placeholder="Min Price"
                                value="<%= filters?.minPrice || '' %>"
                                class="filter-input px-4 py-2 border rounded-md w-full"
                                onchange="updateRangeFilter('minPrice', this.value)" />
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="maxPrice" class="text-sm font-medium">Max Price</label>
                            <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price"
                                value="<%= filters?.maxPrice || '' %>"
                                class="filter-input px-4 py-2 border rounded-md w-full"
                                onchange="updateRangeFilter('maxPrice', this.value)" />
                        </div>
                    </div>
                </div>

                <!-- Category Filter -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold">Category</h3>
                    <div class="flex flex-col">
                        <% [ 'Lamps' ,'Tables','Chairs','Dressers', 'Cots' , 'Night Stands' , 'Sofas' , 'Shelves' ,
                            ].forEach(category=> { %>
                            <label>
                                <input type="checkbox" name="category" value="<%= category %>"
                                    <%=filters?.category?.includes(category) ? 'checked' : '' %>
                                onchange="updateCheckboxFilter(this)" />
                                <%= category %>
                            </label>
                            <% }) %>
                    </div>
                </div>

                <!-- Manufacturer Filter -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold">Manufacturer</h3>
                    <div class="flex flex-col">
                        <% [ 'Vitra' , 'IKEA' , 'Herman Miller' , 'Haworth' , 'Maiden Home' , 'Knoll' ,
                            ].forEach(manufacturer=> { %>
                            <label>
                                <input type="checkbox" name="manufacturer" value="<%= manufacturer %>"
                                    <%=filters?.manufacturer?.includes(manufacturer) ? 'checked' : '' %>
                                onchange="updateCheckboxFilter(this)" />
                                <%= manufacturer %>
                            </label>
                            <% }) %>
                    </div>
                </div>

                <!-- Material Filter -->
                <div>
                    <h3 class="text-lg font-semibold">Material</h3>
                    <div class="flex flex-col">
                        <% ['Wood', 'Plastic' , 'Metal' , 'Fabric' , 'Glass' , 'Ceramic' ].forEach(material=> { %>
                            <label>
                                <input type="checkbox" name="material" value="<%= material %>"
                                    <%=filters?.material?.includes(material) ? 'checked' : '' %>
                                onchange="updateCheckboxFilter(this)" />
                                <%= material %>
                            </label>
                            <% }) %>
                    </div>
                </div>
            </form>
        </div>

        <!-- Products List -->
        <div class="w-3/4 p-4" id="productListContainer">
            <h1 class="text-3xl font-bold mb-8">Our Products</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="productList">
                <% products.forEach(product=> { %>
                    <div
                        class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
                        <a href="/shop/<%= product._id %>">
                            <img src="<%= product.images[0] %>" alt="<%= product.name %>"
                                class="w-full h-64 object-cover" />
                        </a>
                        <div class="p-4">
                            <h3 class="text-xl font-semibold">
                                <%= product.name %>
                            </h3>
                            <div class="mt-2">
                                <% if (product.salePrice) { %>
                                    <div class="flex gap-4">
                                        <p class="text-lime-500 line-through">$<%= product.price %>
                                        </p>
                                        <p class="text-lime-500 font-bold">$<%= product.salePrice %>
                                        </p>
                                    </div>
                                    <% } else { %>
                                        <p class="text-lime-500 font-bold">$<%= product.price %>
                                        </p>
                                        <% } %>
                            </div>
                            <a href="/shop/<%= product._id %>">
                                <button class="bg-lime-500 text-white px-4 py-2 mt-4 rounded hover:bg-lime-600">View
                                    Details</button>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <!-- Pagination Section -->
            <div class="pagination mt-8">
                <% if (currentPage> 1) { %>
                    <a
                        href="?page=<%= currentPage - 1 %>&<%= Object.keys(filters).map(key => key + '=' + filters[key]).join('&') %>">Previous</a>
                    <% } %>

                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="?page=<%= i %>&<%= Object.keys(filters).map(key => key + '=' + filters[key]).join('&') %>"
                                class="<%= currentPage === i ? 'bg-lime-500 text-white font-bold px-4 py-2 rounded' : 'px-4 py-2 hover:bg-gray-200' %>">
                                <%= i %>
                            </a>
                            <% } %>

                                <% if (currentPage < totalPages) { %>
                                    <a
                                        href="?page=<%= currentPage + 1 %>&<%= Object.keys(filters).map(key => key + '=' + filters[key]).join('&') %>">Next</a>
                                    <% } %>
            </div>
        </div>
    </div>
</div>


<script>
    // Hàm cập nhật URL với tham số sort và giữ lại các tham số bộ lọc khác
    function updateQueryParams(selectElement) {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);

        // Cập nhật tham số sort
        params.set('sort', selectElement.value);

        // Giữ nguyên các tham số khác, không làm thay đổi tham số 'page'
        const newUrl = `${url.pathname}?${params.toString()}`;
        window.location.href = newUrl;
    }

    // Hàm cập nhật các bộ lọc checkbox
    function updateCheckboxFilter(checkbox) {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);

        const name = checkbox.name;
        const value = checkbox.value;

        if (checkbox.checked) {
            params.append(name, value);
        } else {
            // Loại bỏ giá trị khỏi tham số khi bỏ chọn checkbox
            const values = params.getAll(name).filter((v) => v !== value);
            params.delete(name);
            values.forEach((v) => params.append(name, v));
        }

        // Giữ nguyên tham số 'page' và các tham số bộ lọc khác
        const newUrl = `${url.pathname}?${params.toString()}`;
        window.location.href = newUrl;
    }

    // Hàm cập nhật bộ lọc giá trị range (minPrice/maxPrice)
    function updateRangeFilter(name, value) {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);

        if (value) {
            params.set(name, value);
        } else {
            params.delete(name);
        }

        // Giữ nguyên các tham số 'page' và các bộ lọc khác
        const newUrl = `${url.pathname}?${params.toString()}`;
        window.location.href = newUrl;
    }

    // Hàm quản lý phân trang và cập nhật nội dung mà không reload toàn bộ trang
    document.addEventListener("DOMContentLoaded", function () {
        const paginationLinks = document.querySelectorAll('.pagination a');

        paginationLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();  // Ngừng hành động mặc định của liên kết

                // Lấy URL từ liên kết phân trang
                const url = new URL(this.href);
                const page = url.searchParams.get('page');

                // Lấy các tham số hiện tại trong URL (bao gồm bộ lọc và sort)
                const filters = url.searchParams.toString();

                // Gửi yêu cầu AJAX để tải dữ liệu cho trang mới
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        // Tạo một phần tử chứa danh sách sản phẩm từ dữ liệu mới
                        const newProductList = document.createElement('div');
                        newProductList.innerHTML = html;

                        // Cập nhật lại danh sách sản phẩm trong container mà không làm mới trang
                        const newProductsHTML = newProductList.querySelector('#productList').innerHTML;
                        document.getElementById('productList').innerHTML = newProductsHTML;

                        // Cập nhật lại các liên kết phân trang (nếu cần)
                        const newPagination = newProductList.querySelector('.pagination');
                        document.querySelector('.pagination').innerHTML = newPagination.innerHTML;
                    })
                    .catch(error => console.error('Error loading page:', error));
            });
        });
    });
</script>